{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Автор:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Резюме:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Язык:</strong> {{ book.language }}</p>
  <p><strong>Жанр:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Издатель:</strong> {% if book.publishers.count > 0 %}
        {% for publisher in book.publishers.all %}
            <p>{{ publisher.name }}</p>
        {% endfor %}
    {% else %}
        <li>У этой книги нет издателей.</li>
    {% endif %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Копии</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Должен быть возвращен:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Печать:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
    
    {% if user.is_staff %}
          <button>
              <a href="{% url 'book-update' book.id %}">обновить книгу</a>
          </button>
        <button>
              <a href="{% url 'book-delete' book.id %}">удалить книгу</a>
          </button>
    {% endif %}
    
{% endblock %}


