{% extends "base_generic.html" %}

{% block content %}
    <h1>Все занятые книги</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">
            {{bookinst.book.title}}</a> (<b>{{ bookinst.due_back }}</b>)

            {% if perms.catalog.can_mark_returned %}-
                <a href="{% url 'renew-book-librarian' bookinst.id %}">Продлить</a>
            {% endif %}

          {% if user.is_staff %}- {{ bookinst.borrower }}{% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Нет занятых книг.</p>
    {% endif %}       
{% endblock %}